*{
padding:0;
margin:0;
box-sizing: border-box;
}

/* [1] The container */
.img-hover-zoom {
  height: auto; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

h1{

font-family: 'Titillium Web', sans-serif;
text-shadow: white 2px 5px;

}
.background-color-new{
background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2320FFF8' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23FFFFFF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f1f9f9' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e3f3f2' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d5ecec' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c7e6e5' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b9e0df' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23abdad9' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%239dd3d2' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%238fcdcc' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2380c7c5' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2372c1bf' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2364bab8' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2356b4b2' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2348aeac' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%233aa8a5' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232ca19f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%231e9b98' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23109592' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}